
@media print { 
	* {
		-webkit-print-color-adjust: exact;
		--print-color-adjust: exact;
    margin: 0;
    padding: 0;
    border:0;
    }

	:root 
{
    --main-color: #E88100;
    --sub-color: #006EBD;
    --color-dark: #000;
    --color-white: #fff;
    --input-color: #dadada;
    --font-color: #222;
    --background-gray:#f7f7f7;
}

html,body 
{
    min-height: 100vh;
    font-family: 'Pretendard Variable';
    width:500px;
}

ul,li,ol
{
    list-style:none;
}

a
{
    text-decoration: none;
    color: #000;
} 

input 
{
    box-sizing: border-box;
}
/* 공통으로 들어가는 요소*/

/* header */
header 
{
    height: 90px;
    padding:0 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.menu 
{
    margin-left: 20%;
    font-size: 16px;
    font-weight: 600;
    display: flex;
}

.menu li
{
    margin-right: 50px;
}

.menu li a:hover 
{
    color: var(--main-color);
}

.menu li:last-child 
{
    margin-right: 0;
}

.header_option 
{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header_option li 
{
    font-size: 14px;
}

.header_option li a
{
    font-weight: 600;
}

.header_option li.language 
{
    margin-left:20px;
}

.header_option li.language a
{
    display: flex;
    align-items: center;
}

.header_option li.language a .icon 
{
    margin-right: 10px;
}

.header_option li.language a .icon img
{
    width: 20px;
}

section 
{
    min-height: calc(100vh - 90px);
}
body { position: relative;}

section 
{
    padding: 40px 32px 40px;
}

.sectionMainTitle 
{ 
    font-size: 16px; 
    margin-bottom: 8px;
    font-weight: 500;
}

.sectionSubTitle 
{ 
    font-size: 14px; 
    margin-bottom: 24px;
    font-weight: 400;
}

.infoWrap 
{
    border: 1px solid var(--input-color);
/* 	height:630px; */
	height:828px;
    margin-bottom: 40px; 
}

.dateNotice 
{
    height: 60px;
    background-color: var(--main-color);
    padding: 16px;
}

.subTxt 
{
    font-size: 14px;
    font-weight: 400;
    color: #222;
}

.dateNotice .subTxt { margin-bottom: 12px; }

.dateNotice .subTxt a{ color: #fff; }

.dateTxt a 
{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.infoCon 
{
    padding: 12px 16px 0;
    display: flex;
    align-items: center;
}

.infoCon .subTxt { width: 120px; margin-right: 20px; }

.infoCheck 
{ 
    height: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--input-color);
    margin-top: 12px; 
}

.pop 
{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(17,17,17,0.6);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.popCon 
{
    width: 90%;
    background-color: #fff;
    border-radius: 4px;
}

.popHeader 
{
    height: 56px;
    display: flex;
    align-items: center;
    padding:0 32px;
    position: relative;
}
.popTitle 
{
    font-size: 18px;
    font-weight: 500;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.cancel { margin-left: auto;}

.popBody 
{
    padding:0 16px 24px;
    margin-top: 24px;
    height: 400px;
    overflow-y: scroll;
}

.table 
{
    border: 1px solid var(--input-color);
}

.tableCon 
{ 
    padding: 24px 12px;
    border-bottom: 1px solid var(--input-color);
}

.tableCon:last-child 
{
    border-bottom: 0;
}

.tableCon h3
{
    font-size: 14px;
}

.tableCon h3 a
{
    font-weight: 400;
    color: #222;
} 

.tableCon h3.date { margin-bottom: 8px; }






footer button 
{ 
    background-color: var(--main-color); 
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
}


	#section_date{
		width:auto;
		display:block;
		background: white;    
		padding-top: 0;
		min-height: calc(70vh - 90px);
		margin-bottom: 20px;
    	margin-top: 20px;
	}
	.sectionMainTitle{
		margin-top:10px;
	}
	
	.signiture{
	    width: 100%;
	    border-collapse: collapse;
	    margin-bottom: 10px;
	}
	.signiture_in{
		width: 50%;
	    height: 80px;
	    text-align: center;
	    font-size: 20px;
	    font-weight: bold;
	    border: 1px solid #dadada;
	    vertical-align : top;
	}

	.dateNotice.rec{
		background-color: white;
		border: 3px solid black;
	}
	.dateNotice.rec > .subTxt > a{color: black !important;}
	.dateNotice.rec > .dateTxt > a{color: black !important;}

	.infoCon > h5{
		font-size: 22px;
	}
	.infoCon > h1{
		font-size: 22px;
	}
	.tableCon{padding: 4px 4px 70px 10px}
	.tableCon > h3{font-size: 22px;}
	
	.infoCon .subTxt {
    	width: 200px;
    }
}
