
@media print { 
	* {
		-webkit-print-color-adjust: exact;
		--print-color-adjust: exact;
    }
  	table{
  	    width: 100%;
/* 	    border: 0; */
/* 	    box-sizing: border-box; */
	    margin-bottom: 40px;
  	}
    #print_table_1 { border:2px solid black; border-collapse: collapse;}
	#print_table_1 > thead > tr > th, #print_table_1 > tbody > tr > td {border:1px solid black; }
	#print_table_2{ border:2px solid black; border-collapse: collapse;}
	#print_table_2 > thead > tr > th, #print_table_2 > tbody > tr > td {border:1px solid black; text-align:center;}
	
}