:root 
{
    --main-color: #E88100;
    --sub-color: #006EBD;
    --color-dark: #000;
    --color-white: #fff;
    --input-color: #dadada;
    --font-color: #222;
    --background-gray:#f7f7f7;
}

body { position: relative;}

.sectionMainTitle 
{ 
    font-size: 16px; 
    margin-bottom: 24px;
}

.inputWrap { margin-bottom: 24px; }

.inputWrap h5 
{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
} 

.inputWrap h5 a 
{
    display: flex;
    align-items: center;
}

.inputWrap h5 a span 
{
    color:var(--main-color);
    margin-left: 10px;
}

.inputWrap input 
{ 
    width: 100%; 
    height: 40px;
    border: 1px solid var(--input-color);
    padding-left: 10px;
}

.inputWrap input::placeholder
{
    font-size: 14px;
    color: #767676;
}

.inputWrap.check 
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.inputWrap.check  input 
{
    width: 20px;
    height: 20px;
}

.inputWrap.check h5 
{
    margin-left: 10px;
    font-weight: 500;
}

footer button 
{ 
    background-color: #222; 
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
}

.pop 
{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(17,17,17,0.6);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.popCon 
{
    width: 90%;
    background-color: #fff;
    border-radius: 4px;
}

.popHeader 
{
    height: 56px;
    display: flex;
    align-items: center;
    padding:0 16px;
}
.popTitle 
{
    font-size: 18px;
    font-weight: 500;    
}

.cancel { margin-left: auto;}

.popBody 
{
    padding:0 16px;
    margin-top: 24px;
}

.popBody .top { position: relative; }

.popBody .top input
{
    width: 100%;
    height: 40px;
    border: 1px solid var(--input-color);
    padding-left: 10px;
}

.popBody .top input::placeholder
{
    color:#767676;
    font-size: 14px;    
}

.popBody .top .count 
{
    position: absolute;
    color: red;
    font-size: 14px;
    top:12px;
    right:10px;
}

.popBody .bottom
{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popBody .bottom h5 
{
    font-size: 12px;
    color: #999;
    font-weight: 500;
}

.popBody .bottom button 
{
    background-color: #fff;
    border: 1px solid var(--input-color);
    padding: 5px 2px;
}

.popFooter 
{
    margin-top: 40px;
}

.popFooter button 
{
    height: 48px;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

