<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="delivery.D_Manager.service.impl.ManagerMapper">
	
	<select id="Member_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call B_MEM_LIST(
				#{MEM_ID},
				#{NAME},
				#{COUNT},
				#{TOTALCOST},
				#{ARR_DAY},
				#{M_LEVEL},
				#{USE_DAY},
				#{USE_DAY_NUM},
				#{PAGE}
		) }
	</select>
	
	<select id="Member_Modify" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call B_MEM_MODIFY(
				#{MEM_NM},
				#{MEM_ID},
				#{MEM_PW},
				#{MEM_NATION},
				#{MEM_PHONE},
				#{MEM_EMAIL},
				#{MEM_ID2},
				#{MEM_DISCOUNT},
				#{MEM_LEVEL},
				#{MEM_BIGO},
				#{MEM_TARGET},
				#{MEM_ADDR},
				#{MEM_HOU}
		) }
	</select>
	<select id="Member_Modify_Discount" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call B_MEM_MODIFY_DISCOUNT(
				#{MEM_ID},
				#{MEM_ID2},
				#{DISCOUNT}
		) }
	</select>
	<select id="Member_Delete" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call B_MEM_DELETE(
				#{MAN_ID},
				#{MEM_ID}
		) }
	</select>
	
	<select id="Mem_Pw_Chk" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call A_PW_CHK(
				#{MEM_ID},
				#{MEM_PW}
		) }
	</select>
	
	<select id="Manager_List" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call D_MANAGER_LIST(
		) }
	</select>
	<select id="Authority_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call D_AUTHORITY_LIST(
				#{MEM_ID}
		) }
	</select>
	<select id="Authority_CHK" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call D_AUTHORITY_CHK(
				#{MEM_ID},
				#{PAGE}
		) }
	</select>
	<select id="Authority_Insert" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call D_AUTHORITY_INSERT(
				#{MEM_ID},
				#{PAGE},
				#{M_PAGE},
				#{AUTH}
		) }
	</select>
	<select id="Authority_Delete" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call D_AUTHORITY_DELETE(
				#{MEM_ID}
		) }
	</select>
	<select id="Nocomplete_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_NC_DELIVERY(
				#{MEM_ID},
				#{MODE},
				#{PAGE}
		) }
	</select>
	
	<select id="M_Nocomplete_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_NC_DELIVERY_MOBILE(
				#{MEM_ID}
		) }
	</select>
	
	
	<select id="Out_Day_List" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_OUTDAY_LIST(
				#{MEM_ID},
				#{OUT_DAY}
		) }
	</select>
	<select id="Outday_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_OUTDAY_SELECT(
				#{MEM_ID},
				#{OUT_KEY}
		) }
	</select>
	<select id="Outday_Insert" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call C_OUTDAY_INSERT(
				#{MEM_ID},
				#{OUT_DAY},
				#{OUT_TXT}
		) }
	</select>
	<select id="Outday_UD" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call C_OUTDAY_UD(
				#{MEM_ID},
				#{OUT_KEY},
				#{OUT_TXT},
				#{MODE}
		) }
	</select>
	<select id="Out_Day_File_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_OUTDAY_FILE_LIST(
				#{MEM_ID},
				#{OUT_KEY}
		) }
	</select>
	<select id="Out_Day_File_Insert" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call C_OUTDAY_FILE_INSERT(
				#{MEM_ID},
				#{OUT_KEY},
				#{CHK},
				#{OUT_TXT},
				#{OUT_TXT_SUB},
				#{PATH},
				#{SAVE_NM},
				#{ORGIN_NM}
		) }
	</select>
	<select id="Out_Day_File_UD" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call C_OUTDAY_FILE_UD(
				#{MEM_ID},
				#{OUT_KEY},
				#{OUT_SEQ},
				#{CHK},
				#{OUT_TXT},
				#{OUT_TXT_SUB},
				#{PATH},
				#{SAVE_NM},
				#{ORGIN_NM},
				#{MODE}
		) }
	</select>
	
	<select id="Deilvery_Now_List" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_APP_SELECT(
				#{MEM_ID},
				#{OUT_DAY},
				#{REC_NM},
				#{REC_PHONE},
				#{REC_TARGET},
				#{REC_SERVICE}
		) }
	</select>
	
	<select id="Emailinfo" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_EMAIL(
		) }
	</select>
	
	<select id="Delivery_receipt" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_PRINT_SELECT(
			#{IN_KEY}
		)}
	</select>
	<select id="Delivery_receipt_D" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_PRINT_SELECT_D(
			#{IN_KEY}
		)}
	</select>
<!-- 	<select id="DeliveryCompanyList_Select" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap"> -->
<!-- 		{ call C_COMPANY_DELIVERY( -->
<!-- 		)} -->
<!-- 	</select> -->
	<select id="DeliveryCompanyList_Search" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_COMPANY_DELIVERY_SELECT(
			#{T_NAME},
			#{USE}
		)}
	</select>
	<select id="DeliveryCompanyList_Load" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call C_COMPANY_DELIVERY_LOAD(
			#{TARGET}
		)}
	</select>
	<select id="DeliveryCompanyList_IUD" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call C_COMPANY_DELIVERY_IUD(
				#{TARGET},
				#{T_NAME},
				#{USE},
				#{MODE}
		) }
	</select>
	
	<select id="Discount_IU" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{ call E_DISCOUNT(
				#{TYPE},
				#{TARGET},
				#{SUB_TARGET},
				#{PERCENT}
		) }
	</select>
	
	<select id="Discount_Load" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call E_DISCOUNT_LOAD(
				#{TYPE},
				#{TARGET},
				#{SUB_TARGET}
		) }
	</select>
	
</mapper>