/* --------기본 세팅값 시작------- */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
:root 
{
    --main-color: #E88100;
    --color-dark: #000;
    --color-white: #fff;
    --input-color: #dadada;
    --font-color: #222;
    --background-gray:#f7f7f7;
}

*
{
    margin: 0;
    padding: 0;
    border:0;
}

html,body 
{
    min-height: 100vh;
    font-family: 'Pretendard Variable';
}

ul,li,ol
{
    list-style:none;
}

a
{
    text-decoration: none;
    color: #000;
} 

table { border-spacing: 0;}

input 
{
    box-sizing: border-box;
}
/* 공통으로 들어가는 요소*/

.m_container 
{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.m_header 
{
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: relative;
}

.m_headerTitle 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #222;
    font-weight: 600;
}

section 
{
    padding:40px 32px 0;
}

.logo { margin-bottom: 24px; }

footer 
{
    width: 100%;
    position: absolute;
    bottom:0;
}

footer button 
{
    width: 100%;
    height: 56px;
}

/*아이폰 input 기본 스타일 제거*/

input, textarea {

appearance: none;

-webkit-appearance: none;

-webkit-border-radius: 0;

}

input a{
	color : #000;
}

/* 아이폰 select 기본 스타일 제거 */
select {
/* -webkit-appearance: none; */
/* -moz-appearance: none;  */
/* appearance: none; */

/*화살표 배경 넣기*/ 
/* background: #fff no-repeat 98% center; */
}
