:root 
{
    --main-color: #E88100;
    --sub-color: #006EBD;
    --color-dark: #000;
    --color-white: #fff;
    --input-color: #dadada;
    --font-color: #222;
    --background-gray:#f7f7f7;
}

body { position: relative;}

section 
{
    padding: 40px 32px;
}

.sectionMainTitle 
{ 
    font-size: 16px; 
    margin-bottom: 24px;
}

.countWrap 
{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--main-color);
    margin-bottom: 24px;
    color: #fff;
    padding:0 24px;
    justify-content: space-between;
}

.countWrap .date { font-weight: 400; font-size: 14px;}
.countWrap .txt { font-weight: 500; font-size: 18px;}
.countWrap .count { font-weight: 700; font-size: 28px;}

.currentfoWrap
{
    max-height:440px;
    overflow-y: scroll;
}

.iconWrap 
{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 12px;
    justify-content: end;
}

.icon
{
    width: 28px;
    height: 28px;
    /* background-color: #FFD9AA; */
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 12px;
}

.icon img 
{
    width: 18px;
    height: 18px;
}

.currentHeader 
{
    background-color: var(--sub-color);
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.currentHeader h5 a 
{
    color: #fff;
}


.tableWrap 
{
    width: 100%;
    max-height:440px;
    overflow: auto;
}

table { width: 100%; }

table input 
{
    width: 20px;
    height: 20px;
}

.tableWrap table thead 
{
    background-color: #F7F7FB;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
}

.tableWrap table tbody tr td
{
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


footer button 
{ 
    background-color: #222; 
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
}



.pop, .pop2 
{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(17,17,17,0.6);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.popCon 
{
    width: 90%;
    background-color: #fff;
    border-radius: 4px;
}

.popHeader 
{
    height: 56px;
    display: flex;
    align-items: center;
    padding:0 32px;
    position: relative;
}
.popTitle 
{
    font-size: 18px;
    font-weight: 500;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.cancel { margin-left: auto;}

.popP 
{
    font-size: 16px;
    text-align: center;
}

.popBody 
{
    padding:0 16px 40px;
    margin-top: 24px;
    overflow-y: scroll;
}

.popCon button 
{
    width: 100%;
    height: 48px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.popCon button.popDelete 
{
    background-color: red;
}